.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;


  .profile-container {
    .company-profile-image {
      width: 75%;
      height: 20rem;
      object-fit: cover;
      border-radius: .3rem;
      box-shadow: 2px 2px 4px #ccc;
    }

    margin-bottom: .3rem;
  }

}